APP_MODE=""
APP_VOLUME=""

DB_HOST=""
DB_PORT=""
DB_USERNAME=""
DB_PASSWORD=""
DB_NAME=""
JWT_SECRET_KEY=""
JWT_EXPIRE_DURATION=

# for generating admin account
ADMIN_COMPANY_NAME=""
ADMIN_ADDRESS=""
ADMIN_USERNAME=""
ADMIN_EMAIL=""
ADMIN_PASSWORD=""

OPENAI_API_KEY=""
# example: gpt-4o-mini
OPENAI_MODEL=""