APP_MODE="" 
APP_VOLUME=""
PORT=""

DB_HOST=""
DB_PORT=""
DB_USERNAME=""
DB_PASSWORD=""
DB_NAME=""
JWT_SECRET_KEY=""
JWT_EXPIRE_DURATION=

CLOUDINARY_URL=""

# for generating admin account
ADMIN_USERNAME=""
ADMIN_EMAIL=""
ADMIN_PASSWORD=""
ADMIN_ADDRESS=""
ADMIN_PROVINCE_ID=18
ADMIN_CITY_ID=391
ADMIN_DISTRICT_ID=3894

RAJAONGKIR_API_KEY=""

AI_API_KEY=""
AI_MODEL=""